<footer class="footer">
	<div class="container" style="margin-bottom: 20px;">
	  <nav>
	    <ul>
	      <li><a href="https://www.ownyourdata.eu" onmousedown="$('#stats_target').val('oyd_footer');$('#stats_form').submit();">OwnYourData.eu</a> © 2020</li>
	      <li> <a href="https://www.ownyourdata.eu/de/impressum/" style="margin: 0 10 0 0px;" onmousedown="$('#stats_target').val('imprint');$('#stats_form').submit();">Impressum</a></li>
          <li><a href="https://www.ownyourdata.eu/de/datenschutz/" style="margin: 0 10 0 0px;" onmousedown="$('#stats_target').val('privacy');$('#stats_form').submit();">Datenschutz</a></li>
	    </ul>
	  </nav>
	</div>
</footer>
