<footer class="footer">
	<div class="container" style="margin-bottom: 20px;">
	  <nav>
	    <ul style="padding-right: 120px;">
	      <li>© <%= link_to "OwnYourData.eu", 'https://www.ownyourdata.eu' %></li>
	      <li><a href="https://www.ownyourdata.eu/de/impressum/" style="margin: 0 15px;">Impressum</a></li>
          <li><a href="https://www.ownyourdata.eu/de/datenschutz/">Datenschutz</a></li>
	    </ul>
	  </nav>
	</div>
</footer>
