<header class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a href="https://www.ownyourdata.eu"><div class="oyd-logo"></div></a>
            </div>
            <div class="col-xs-8">
                <h1 style="text-align: center; margin-top: 7px;">Brutto-Netto-Rechner</h1>
            </div>
            <div class="col-xs-2">
                &nbsp;
            </div>
        </div>
    </div>
</header>